#title
{
    background-color: #ff4c68;
}
h1
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}
.container-fluid 
{
    padding: 3% 15%;
}

.navbar
{
    padding-bottom: 4.5rem;
}
.navbar-brand
{
    font-family:"Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}